<h1>INVENTORY</h1>
<div class="inventory">
  <table class="inventory_table"> 
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th>Genre</th>
      <th>In Stock</th>
      <th>Sale Price</th>
      <th>Expected Profit</th>
      <th>Stock Level</th>
    </tr>
  <% @albums.each do |album| %>
    <tr>
      <td><a href="artists/<%= album.artist_id %>"><%= album.artist.name %></a></td>
      <td><a href="inventory/<%= album.id %>"><%= album.title %></a></td>
      <td><%= album.genre %></td>
      <td><%= album.quantity %></td>
      <td><%= album.sale_price %></td>
      <td><%= album.mark_up %></td>
      <td><%= album.stock_level %></td>
    </tr>
  <% end %>
  </table>
</div>
