<h2>ALBUM DETAILS</h2>

<div class="album_details">
  <table>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Quantity</th>
      <th>Purchase Price</th>
      <th>Sale Price</th>
      <th>Expected Profit</th>
      <th>Stock Level</th>
    </tr>
    <tr>
      <td><%= @album.title %></td>
      <td><%= @album.artist.name %></td>
      <td><%= @album.genre %></td>
      <td><%= @album.quantity %></td>
      <td><%= @album.buy_price %></td>
      <td><%= @album.sale_price %></td>
      <td><%= @album.mark_up %></td>
      <td><%= @album.stock_level %></td>
    </tr>
  </table>

</div>
<br>
<br>

<button class="link_button" type="button" name="button"><a class="link_outside_table" href="/inventory/<%= @album.id %>/sell">Sell Record?</a></button>
<br>
<br>
<button class="link_button" type="button" name="button"><a class="link_outside_table" href="<%= @album.id %>/edit">Edit This Album?</a></button>
<form action="<%= @album.id %>/delete" method="post"><p>
  <button class="link_button" type="button" name="button"><input class="button" type="submit" value="Delete this album?"></button>

</form>
