<p>Your Album has been added</p>

<p>Album : <%= @album.title %></p>
<p>Artist : <%= @album.artist.name %></p>
<p>Genre : <%= @album.genre %></p>
<p>Quantity : <%= @album.quantity %></p>
<p>Stock Level : <%= @album.stock_level %></p>
