<h2>SALES FOR <%= @genre %></h2>
<table>
  <tr>
    <th>Album</th>
    <th>Artist</th>
    <th>Sale Price</th>
    <th>Quantity</th>
    <th>Date</th>
  </tr>
  <tr>
    <%  @sales.each do |sale| %>
    <td><a href="/inventory/<%= sale.album.id %>"><%= sale.album.title %></a></td>
    <td><a href="/artists/<%= sale.artist.id %>/sales"><%= sale.artist.name %></a></td>
    <td><%= sale.album.sale_price %></td>
    <td><%= sale.sale_quantity %></td>
    <td><%= Date.parse(sale.sale_date).strftime("%d/%m/%Y") %></td>
  </tr>
  <% end %>

</table>
